---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/nav.astro'
---

<Layout title="bao">
  <Nav />

  <div class="404">
    <h1>bludd where are you</h1>
    <p>404 not found</p>
    <img src="https://media.tenor.com/DwUvzOBtTEUAAAAM/speed-ishowspeed.gif" alt="speed bro">
  </div>

  <style>
    h1 {
      font-size: 48px;
    }
    img {
      width: 100%;
      max-width: 400px;
    }
  </style>

</Layout>