---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Projects from '../components/projects.astro'
import Friends from '../components/Friends.astro'
---

<Layout title="bao">
  <Nav />
  <Hero />
  <Projects />
  <Friends />
  <hr>
  	<div id="footer">
		<p>
			Site licensed under <a href="https://github.com/fielstamper/caitlyn.moe/blob/main/LICENSE"class="squiggly">AGPL v3</a>∙
			<a href="https://github.com/fielstamper/caitlyn.moe" class="squiggly">Source Code</a>
		</p>
	</div>

	<style>
		a {
			color: var(--color-puh);
		}
	</style>

</Layout>